name: ders02_formlar_ve_input
description: Ders 02 - Formlar ve Input Widget'ları örnek uygulaması
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

flutter:
  uses-material-design: true
